<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.claro.amx.sp.tokenauthenticationservice.mapper.ccard.ChannelCredentialsMapper">

    <resultMap id="map_GetParametersDataResult" type="com.claro.amx.sp.tokenauthenticationservice.model.ccard.ChannelCredentials">
        <result property="channelId" column="CHCR_CHANNEL_ID"/>
        <result property="password" column="CHCR_PASSWORD"/>
        <result property="secret" column="CHCR_SECRET"/>
    </resultMap>

    <select id="getChannelCredentialsData" resultMap="map_GetParametersDataResult">
        SELECT CHCR_CHANNEL_ID,
        CHCR_PASSWORD,
        CHCR_SECRET
        FROM SP_CHANNEL_CREDENTIALS
        WHERE CHCR_CHANNEL_ID = #{channelId}
        AND SYSDATE BETWEEN CHCR_START_DATE AND CHCR_END_DATE
    </select>

</mapper>